@import url(./normal.css);
@import url(./fonts.css);
@import url(./root.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
}

img {
  display: flex;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1244px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.btn {
  padding: 20px 29px;
  border: 2px solid var(--Neutral900);
  border-radius: 8px;
  font-family: var(--Text-Preset-Martian-mono-ff);
  font-weight: 600;
  font-size: var(--Text-Preset-six-fs);
  line-height: var(--Text-Preset-one-lc);
  color: var(--Neutral900);
  background-color: var(--LightSalmon50);
}
